<div class="sidebar">
    <ul class="conversations">
        <li ng-click="select()" ng-class="{ active: selectedConversation == conversation }" ng-repeat="conversation in conversations">
            <div class="contact">
                <img src="http://placehold.it/44x44">
                <div class="info">
                    <span class="name">{{ conversation.name }}</span>
                    <span class="time">{{ conversation.time }}</span>
                    <span class="last">{{ conversation.messages[conversation.messages.length-1].text }}</span>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="main">
    <ul class="messages">
        <li ng-repeat="message in selectedConversation.messages">
            <div class="message" ng-class="{ them: message.side == 'them', you: message.side == 'you' }">{{ message.text }}</div>
        </li>
    </ul>
    <div class="compose">
        <input type="text" placeholder="Message" ng-model="compose" ng-enter="send()">
    </div>
</div>
