<div class="sidebar">
    <ul class="conversations" ng-repeat="contact in contacts">
        <li ng-click="select()" ng-class="{ active: selectedContact == contact.name }">
            <div class="contact">
                <img src="http://placehold.it/44x44">
                <div class="info">
                    <span class="name">{{ contact.name }}</span>
                    <span class="time">{{ contact.time }}</span>
                    <span class="last">{{ contact.last }}</span>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="main">
    <ul class="messages">
        <li class="them">
            <div class="message them">Hey</div>
        </li>
        <li class="you">
            <div class="message you">Hey</div>
        </li>
        <li class="them">
            <div class="message them">What's up?</div>
        </li>
        <li class="you">
            <div class="message you">Nm. You?</div>
        </li>
        <li class="them">
            <div class="message them">I wanna photoshop something</div>
        </li>
        <li class="you">
            <div class="message you">lol</div>
        </li>
    </ul>
    <div class="compose">
        <input type="text" placeholder="Message" ng-model="compose" ng-enter="send()">
    </div>
</div>
