<div class="sidebar">
    <ul class="conversations">
        <li class="active">
            <div class="contact">
                <img src="http://placehold.it/44x44">
                <div class="info">
                    <span class="name">Brady Africk</span>
                    <span class="time">4:43 PM</span>
                    <span class="last">Whatever</span>
                </div>
            </div>
        </li>
        <li>
            <div class="contact">
                <img src="http://placehold.it/44x44">
                <div class="info">
                    <span class="name">Sarah Tompsidis</span>
                    <span class="time">3:30 PM</span>
                    <span class="last">Hahaha</span>
                </div>
            </div>
        </li>
        <li>
            <div class="contact">
                <img src="http://placehold.it/44x44">
            </div>
        </li>
        <li>
            <div class="contact">
                <img src="http://placehold.it/44x44">
            </div>
        </li>
    </ul>
</div>

<div class="main">

    <div class="compose">
        <input type="text" placeholder="Message">
    </div>
</div>
