html {
    font-family: sans-serif;
}

.full {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.hidden {
    display: none;
}

.active {
    background-color: #4094F7;
}

.active .name {
    color: #FFFFFF !important;
}
.active .time {
    color: #FFFFFF !important;
}
.active .last {
    color: #FFFFFF !important;
}

.sidebar {
    width: 270px;
    height: 100%;
    float: left;
    background-color: #F2F2F2;
    border-right: 1px solid #B5B5B5;
}

.conversations {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.conversations li {
    height: 64px;
    width:  100%;
    cursor: default;
}

.contact {
    margin-left: 20px;
    width: calc(100% - 30px);
    height: calc(100% - 16px);
    padding: 8px;
    padding-left: 0px;
    border-bottom: 1px solid #E3E3E3;
    font-size: 13px;
}

.contact img {
    border-radius: 50%;
    float: left;
    width: 50px;
    height: 50px;
    background-color: #A2A2A2;
}

.contact .info {
    float: left;
    width: calc(100% - 64px);
    height: 100%;
    margin-left: 10px;
}

.main {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.name {
    font-weight: bold;
    float: left;
}

.time {
    float: right;
    color: #787878;
}

.last {
    width: 177px;
    height: 32px;
    display: block;
    overflow: hidden;
    color: #787878;
}

.compose {
    width: calc(100% - 271px - 16px);
    height: calc(40px - 16px);
    border-top: 1px solid #E3E3E3;
    background-color: #F7F7F7;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 8px;
}

.compose input {
    width: calc(100% - 43px);
    height: 22px;
    margin-left: 6px;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    outline: none;
    font-size: 13px;
    padding-left: 7px;
}

.messages {
    list-style: none;
    margin: 0px;
    margin-left: 271px;
    padding: 20px;
    position: absolute;
    bottom: 20px;
    width: calc(100% - 310px);
}

.messages li {
    width: 100%;
    min-height: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.message {
    height: 10px;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 40px;
}

.message.you {
    background-color: #1C8AF2;
    color: #FFFFFF;
    float: right;
}

.message.them {
    background-color: #E6E6Eb;
    color: #000000;
    float: left;
}

.options {
    height: 20px !important;
    width: calc(100% - 20px) !important;
    padding: 10px;
    border-bottom: 1px solid #E3E3E3
}

.new {
    width: 32px;
    height: 20px;
    border: 1px solid #B5B5B5;
    background-color: #FFFFFF;
    float: right;
    border-radius: 5px;
    background-image: url('img/compose.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.indicator-container {
    height: 3px;
    width: calc(100% - 270px);
    padding: 0px;
    margin: 0px;
    margin-left: 270px;
}

.indicator {
    background-color: #4094F7;
    height: 100%;
    width: 0%;
}

.indicator.sending {
    width: 75%;
    transition: width 5s;
}

.indicator.done {
    width: 100%;
    transition: width 0.2s;
}

.delete {
    font-family: sans-serif;
    font-size: 10px;
    color: rgba(0, 0, 0, 0);
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
    position: relative;
    top: -30px;
    left: 163px;
}

.conversations>li:hover>.contact>.info>.delete {
    color: #787878;
}

.conversations>li.active:hover>.contact>.info>.delete {
    color: #FFFFFF;
}

.delete {
    cursor: pointer;
}

/* Start login page */

.login-wrapper {
    background-color: #d1fffb;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.login {
    width: 360px;
    height: 360px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    position: relative;
    top: 150px;
}

.login h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    position: relative;
    top:  30px;
    left: 85px;
}

.login input {
    border: 0;
    border-bottom: 1px solid #E3E3E3;
    width: 80%;
    height: 15%;
    position: relative;
    top: 50px;
    left: 35px;
    font-size: 30px;
}

.login button {
    width: 150px;
    height: 70px;
    border: 1px solid #E3E3E3;
    border-radius: 15px;
    background-color: #FFFFFF;
    position: relative;
    top: 75px;
    left: 100px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
}

.loading {
    display: none;
    margin: 0;
    position: relative;
    top: 90px;
    left: 160px;
}

.loading.on {
    display: block !important;
}
